<!DOCTYPE html>

<!-- {{ ansible_managed }} -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>503 Service Unavailable</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <style>
        .container {
            margin-top: 50px;
        }
        .code-block {
            background-color: #f8f9fa;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            padding: 1rem;
            overflow-x: auto;
        }
    </style>
</head>
<body>
    <div class="container text-center">
        <h1 class="display-4">503 Service Unavailable</h1>
        <p class="lead">Your Vault server is not running. You likely need to start it using this command:</p>
        <div class="code-block mt-3">
            <code>start-vault (dev|prod)</code>
        </div>
        <footer class="mt-5">
            <p>&copy; 2024 Goozbach Infrastructure Solutions LLC. All rights reserved.</p>
        </footer>
    </div>

    <!-- Bootstrap JS (optional, for some components) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

