<!DOCTYPE html>

<!-- {{ ansible_managed }} -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Links</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <header class="bg-dark text-white text-center py-3">
        <h2>Classroom Setup</h2>
    </header>

    <div class="container mt-5">
        <h1 class="display-4">Users</h1>
        <p class="lead">
          Below are the links to users 01 through {{ num_users }}.<br />
          Please coordinate with your instructor for which account you should use and what the password is.
        </p>
        
        <!-- Unordered list of links -->
        <ul class="list-group">
            <!-- Jinja template for generating links dynamically -->
            {% for i in range(1, num_users| int + 1) %}
                <li class="list-group-item {{ loop.cycle('','list-group-item-secondary') }}"><a href="/user{{ "%02d" % i }}">User {{ i }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <!-- Bootstrap JS (optional, for some components) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

