# {{ ansible_managed }}
[Unit]
Description=Main Vault
After=network.target

[Service]
Type=simple
Restart=always

ExecStart=/usr/bin/podman run --rm --name main-vault --cap-add IPC_LOCK -v /opt/vault/data/:/vault/data/:z -v /opt/vault/config:/vault/config/:z -p 8200:8200 docker.io/hashicorp/vault:latest server
ExecStartPost=-/usr/bin/podman exec -it chown -R vault: /vault

ExecStop=-/usr/bin/podman kill main-vault
ExecStop=-/usr/bin/podman rm -v main-vault

[Install]
WantedBy=default.target
