# {{ ansible_managed }}
# Set the prefix to ^A.
unbind C-b
set -g prefix ^A
unbind C-o
unbind C-a
bind a send-prefix
# title A
unbind A
bind A command-prompt "rename-window %%"

# other ^A
unbind ^A
bind ^A last-window

# prev ^H ^P p ^? 
unbind ^H
bind ^H previous-window
unbind ^P
bind ^P previous-window
unbind p
bind p previous-window
unbind BSpace
bind BSpace previous-window

# windows ^W w 
unbind ^W
bind ^W list-windows
unbind w
bind w list-windows

# kill K k 
unbind K
bind K confirm-before "kill-window"
unbind k
bind k confirm-before "kill-window"

# redisplay ^L l 
unbind ^L
bind ^L refresh-client
unbind l
bind l refresh-client

# split -v |
unbind |
bind | split-window

bind C-a last-window
setw -g mode-keys vi

set -g status-right '"#22T" %d-%b-%y'

# broadcastmode
bind b set-window-option synchronize-panes

set -g default-terminal "xterm-256color"

# rename session binding
bind S command-prompt "rename-session %%"

set -g history-limit 25000
