<!DOCTYPE html>
<!-- {{ ansible_managed }} -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Landing Page</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <header class="bg-dark text-white text-center py-3">
        <h2>Welcome to Your Dashboard</h2>
    </header>

    <div class="container mt-5">
        <h3>User Dashboard</h3>
        <p>Welcome to your user dashboard! Below are the tools available to you:</p>

        <!-- List of tools -->
        <ul class="list-group">
            <li class="list-group-item"><a href="{{ terminal_url | default('#unset') }}">Terminal</a> - Access a command-line terminal.</li>
            <li class="list-group-item"><a href="https://user{{ item }}-vault.{{ wildcard_domain }}/">Vault</a> - Your Vault UI instance.</li>
        </ul>

        <!-- Blurb on how to use -->
        <div class="mt-4">
            <h4>How to Use:</h4>
            <p>To use the terminal, click on the "Terminal" link above. You will be redirected to a command-line interface where you can execute commands.</p>
            <p>To access the vault, click on the "Vault" link above. You will be directed to the HashiCorp Vault UI.</p>
        </div>
    </div>

    <footer class="bg-dark text-white text-center py-3 mt-5">
        <p>&copy; 2024 Goozbach Infrastructure Solutions LLC. Licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a></p>
    </footer>

    <!-- Bootstrap JS (optional, for some components) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

