# {{ ansible_managed }}

# default http vhost
# force to be https
<VirtualHost *:80>
    RewriteEngine On
    RewriteCond %{HTTPS} !=on
    RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R=301,L]
</VirtualHost>

# default https vhost
<VirtualHost *:443>
    DocumentRoot "/var/www/html"
</VirtualHost>

# main vault
<VirtualHost *:443>
    ServerName main-vault.class.gooz.us
    ProxyPass "/" "http://localhost:8200/"
    ProxyPassReverse "/" "http://localhost:8200/"
</VirtualHost>

{% for i in range(1, num_users| int + 1) %}

# user{{ "%02d" % i }} -- Vault
<VirtualHost *:443>
    ServerName user{{ "%02d" % i }}-vault.class.gooz.us
    ProxyPass "/" "http://localhost:500{{ "%02d" % i }}/"
    ProxyPassReverse "/" "http://localhost:500{{ "%02d" % i }}/"
    ErrorDocument 503 https://{{ wildcard_domain }}/vhost-error.html
</VirtualHost>
{% endfor %}
